:root {
	--spacing-xxs: 2px;
	--spacing-xs: 4px;

	--radius-sm: 6px;
	--radius-md: 6px;
	--radius-lg: 8px;

	--border-color-primary: #444ce7;
	--bg-color-primary: #444ce7;

	--Component-colors-Utility-Brand-utility-brand-700: #3538cd;
	--Component-colors-Utility-Error-utility-error-50: #fef3f2;
}
