#main_container{
    background-color: #E7E9EB;
}

#uploadfile_each{
    background-color: #f3f3f3;
}

.uploadButton{
    border: 3px solid;
    border-color: #E7E9EB;
    background-color: #f3f3f3;
}

.uploadButton.clicked {
    background-color: #919DAA;
}