.ql-editor {
	padding: 4px 4px;
}

.ql-editor:hover,
.ql-editor:focus {
	outline: 2px solid #545657;
}

.ql-editor ul {
	padding-left: 0 !important;
}

.ql-bubble .ql-picker .ql-picker-options {
	max-height: 200px;
	overflow-y: auto;
}

.ql-tooltip {
	z-index: 100;
	padding: 10px 10px !important;
	height: 100px;
	width: 450px;
}

.non-editable-ql-editor,
.non-editable-ql-editor * {
	cursor: pointer !important;
}

.ql-editor ul li {
	padding-bottom: 10px;
}

$font-sizes: (
	'12pt',
  '13pt',
  '14pt',
	'16pt',
  '18pt',
	'20pt',
	'24pt',
  '26pt',
  '28pt',
	'30pt',
	'32pt',
	'40pt',
	'48pt',
	'64pt'
);
@each $size in $font-sizes {
	.ql-bubble
		.ql-picker.ql-size
		.ql-picker-label[data-value='#{$size}']::before {
		content: '#{$size}';
		font-size: 12pt;
	}
	.ql-bubble .ql-picker.ql-size .ql-picker-item[data-value='#{$size}']::before {
		content: '#{$size}';
		font-size: 12pt; //unquote($size);
	}
}

.ql-bubble .ql-picker.ql-size {
	width: 90px;
}

.ql-bubble .ql-picker.ql-font {
	width: 190px;
}

$font-families: (
	'Arimo',
	'Arial',
	'Georgia',
	'Big Shoulders Text',
	'Caveat',
	'Caveat Medium',
	'Caveat Regular',
	'Creato Display Medium',
	'Creato Display Regular',
	'Creato Display Thin',
	'Helvetica Neue',
	'Nimbus Sans Regular',
	'Rubik'
);

@each $font-family in $font-families {
	.ql-bubble
		.ql-picker.ql-font
		.ql-picker-label[data-value='#{$font-family}']::before,
	.ql-bubble
		.ql-picker.ql-font
		.ql-picker-item[data-value='#{$font-family}']::before {
		content: '#{$font-family}';
		font-family: $font-family, sans-serif;
		font-size: 12pt;
	}
}
