.ql-editor:hover,
.ql-editor:focus {
  outline: 2px solid #545657;
}

.ql-editor ul {
  padding-left: 0 !important;
}

.ql-editor {
  padding: 6px 8px;
}

.ql-editor p {
  overflow: auto !important;
}

.ql-bubble .ql-picker .ql-picker-options {
  max-height: 200px;
  overflow-y: auto;
}

.ql-tooltip {
  z-index: 100;
  padding: 2% 3% 2% 3% !important;
  height: 100px;
  width: 450px;
}

.non-editable-ql-editor,
.non-editable-ql-editor * {
  cursor: pointer !important;
}

// .ql-color .ql-picker-options [data-value=color-picker]:before {
//     content: 'Pick Color';
// }

// .ql-color .ql-picker-options [data-value=color-picker] {
//     background: none !important;
//     width: 100% !important;
//     height: 25px !important;
//     text-align: center;
//     color: blue;
//     text-decoration: underline;
// }

$i: 8;
@while $i <= 80 {
  .ql-bubble .ql-picker.ql-size .ql-picker-label[data-value='#{$i}pt']::before,
  .ql-bubble .ql-picker.ql-size .ql-picker-item[data-value='#{$i}pt']::before {
    content: '#{$i}pt';
    font-size: 12pt;
  }
  $i: $i + 1;
}
