@font-face {
    font-family: 'Nunito';
    src: url('/fonts/casual_topic_fonts/Nunito-Regular_Content.ttf')format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/casual_topic_fonts/Nunito-BoldItalic_Headings.ttf')format('truetype');
    font-weight: bold;
    font-style: italic
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/casual_topic_fonts/Nunito-Italic-VariableFont_wght.ttf')format('truetype');
    font-weight: normal;
    font-style: italic
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/casual_topic_fonts/Nunito-Bold_Subtitle.ttf')format('truetype');
    font-weight: bold;
    font-style: normal
}

