@font-face {
    font-family: 'template1_cover_title';
    src: url('/fonts/casual_topic_fonts/Nunito-BoldItalic_Headings.ttf')format('truetype');
}

@font-face {
    font-family: 'template1_cover_keyword';
    src: url('/fonts/casual_topic_fonts/Nunito-Regular_Content.ttf')format('truetype');
}

@font-face {
    font-family: 'template2_content';
    src: url('/fonts/serious_topic_fonts/BDOGrotesk-Regular.otf')format('opentype');
}

@font-face {
    font-family: 'template2_section_title';
    src: url('/fonts/serious_topic_fonts/BDOGrotesk-Bold.otf')format('opentype');
}