/* navigation bar */
@font-face {
    font-family: "Creato Display";
    src: url("https://db.onlinewebfonts.com/t/c456ecaa67ab8ddf91e221ee3ccaa6b3.eot");
    src: url("https://db.onlinewebfonts.com/t/c456ecaa67ab8ddf91e221ee3ccaa6b3.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/c456ecaa67ab8ddf91e221ee3ccaa6b3.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/c456ecaa67ab8ddf91e221ee3ccaa6b3.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/c456ecaa67ab8ddf91e221ee3ccaa6b3.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/c456ecaa67ab8ddf91e221ee3ccaa6b3.svg#Creato Display")format("svg");
}


.title1 p{
    display: inline;
    font-family: 'Creato Display', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.5px
}

#after1 {
    font-weight: 500;
    color: #707C8A;
}

.title2 p{
    display: inline;
    font-family: 'Creato Display', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.5px
}

#after2 {
    font-weight: 500;
    color: #707C8A;
}

.project_container {
    border-radius: 7px;
    padding: 16px 24px 23px 24px;
}

.additional_container {
    border-radius: 7px;
    padding: 16px 20px;
}

.project_topic p{
    margin: 0;
    font-family: 'Creato Display', sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.5px
}


.textfield {
    background-color: white;
    border-radius: 11px;
    margin-top: 15px;
    resize: none;
}
#topic {
    border: None;
    width: 100%;
    border-radius: 11px;
    resize: none;
    padding: 20px;
    font-family: 'Creato Display', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

#charcnt {
    height:30px;
    bottom: 35px;
    font-family: 'Creato Display', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #707C8A;
    scroll-padding: 20px;
    padding-left: 20px;
}

.dropdown_container {
    padding-top: 20px; 
}

@media (min-width: 1024px){
    .dropdown_container {
        align-items: center;
    }
}

@media (max-width: 1024px){
    #progress_title{
        display: none;
    }
}

.dropdown_container span{
    margin: 0;
    font-family: 'Creato Display', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.your_audience {
    display: flex;
    align-items: center;
    letter-spacing: 0.5px
}

.language {
    display: flex;
    align-items: center;
    letter-spacing: 0.5px
}

.audience_container {
    flex: 1;
}

.dropdown_container span{
    display: inline;
}

.language_container {
    flex: 1;
}

.dropdown_container select{
    border: none;
    border-radius: 7px;
    padding: 20px;
    width: 100%;
    margin-top: 12px;
}

.dropdown_container select:focus{
    outline-style: none;
}


/*upload files*/

.upload {
    display: flex;
    align-items: center;
}

.upload span{
    margin: 0;
    font-family: 'Creato Display', sans-serif;
    font-weight: 700;
    font-size: 14px;
    display: inline;
    letter-spacing: 0.5px
}

.youtube_container {
    margin-top: 15px;
    border-radius: 6px;
}


.drop_file{
    margin-top: 3px;
    padding-left: 16px;
    padding-top: 28px;
    border-radius: 6px;
    height: 84px;
}

.drop_file span{
    margin-left: 2%;
    font-family: 'Creato Display', sans-serif;
    font-weight: 400;
    color: var(--Grey-500, #707C8A);
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 138.462% */
    letter-spacing: 0.26px;
    display: inline;
}

.drop_file img{
    width: 16px;
    height: 16px;
    display: inline;
}

#browse_btn {
    text-align: center;
    font-family: 'Creato Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 18.869px;
    letter-spacing: 0.26px;
    border-radius: 4px;
    padding: 4px 12px;
}

#add_hr {
    border: 1px solid #CAD0D3;
    margin-top: 20px;
    margin-left: -6px;
    margin-right: -6px;
}

#youtube {
    padding-left: 2%;
    width: 100%;
    font-family: 'Creato Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 138.462% */
    letter-spacing: 0.26px;
}

#youtube_text_container {
    padding: 13px 16px 4px;
}

#project_popup{
    border-radius: 7px;
    background-color: #525c6A;
    font-family: 'Creato Display', sans-serif;
    color: var(--Grey-500, #E7E9EB);
}

#audience_popup{
    border-radius: 7px;
    background-color: #525c6A;
    font-family: 'Creato Display', sans-serif;
    color: var(--Grey-500, #E7E9EB);
}

#language_popup{
    border-radius: 7px;
    background-color: #525c6A;
    font-family: 'Creato Display', sans-serif;
    color: var(--Grey-500, #E7E9EB);
}

#supportive_popup{
    border-radius: 7px;
    background-color: #525c6A;
    font-family: 'Creato Display', sans-serif;
    color: var(--Grey-500, #E7E9EB);
}

#selectedfile_each{
    font-family: 'Creato Display', sans-serif;
    color: var(--Grey-700, #363E4A);
    font-weight: 700;
}

#youtube_error{
    padding-left: calc(2% + 2rem);
    margin-bottom: 3px;
}