.slider {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

  .rndContainerWithOutBorder::before {
    content: '';
    display: block;
    position: absolute;
    top: -2px; 
    right: -2px; 
    bottom: -2px; 
    left: -2px; 
    border: 2px solid magenta;
    /* box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.1); */
    /* background-color: rgba(255, 255, 255, 0.5); */
    pointer-events: none; 
    z-index: 52;
  }

  .rndContainerWithBorder::before {
    content: '';
    display: block;
    position: absolute;
    top: -2px; 
    right: -2px; 
    bottom: -2px; 
    left: -2px; 
    border: 2px solid magenta; 
    pointer-events: none; 
    z-index: 52;
    /* background-color: rgba(0, 0, 0, 0.25); */
  }