#main_container {
	background-color: #e7e9eb;
}

#uploadfile_each {
	background-color: #f3f3f3;
}

.uploadButton {
	border: 3px solid;
	border-color: #e7e9eb;
	background-color: #f3f3f3;
}

.uploadButton.clicked {
	background-color: #919daa;
}

#instruction_container {
	background-color: #e7e9eb;
}
