@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';
@import 'additional-styles/font.css';

@import 'tailwindcss/utilities';
/* Caveat font family for fun education template 004 */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&display=swap');
/* big shoulders font for business template 002 */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@400;500;600&family=Rubik:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;700&family=Big+Shoulders+Text:wght@400;500;600&family=Rubik:wght@400;500&display=swap');
/* Libre Baskerville */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
/* Lemonada font family */

@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap');
/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */

@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@600&display=swap');
@layer utilities {
	.rtl {
		direction: rtl;
	}
}

/* Add your custom styles here */
[contenteditable='true']::selection {
	@apply bg-blue-500 text-white; /* Replace with your desired Tailwind classes */
}

@font-face {
	font-family: 'Creato Display Regular';
	src: url('/fonts/CreatoDisplay-Regular.otf') format('opentype');
	/* Add more src declarations for different font weights or styles if needed */
}
@font-face {
	font-family: 'Creato Display Thin';
	src: url('/fonts/CreatoDisplay-Thin.otf') format('opentype');
	/* Add more src declarations for different font weights or styles if needed */
}
@font-face {
	font-family: 'Creato Display Medium';
	src: url('/fonts/CreatoDisplay-Medium.otf') format('opentype');
}

@font-face {
	font-family: 'Creato Display Bold';
	src: url('/fonts/CreatoDisplay-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Nimbus Sans Regular';
	src: url('/fonts/NimbusSanL-Reg.otf') format('opentype');
	/* Add more src declarations for different font weights or styles if needed */
}

@font-face {
	font-family: 'Nimbus Sans Bold';
	src: url('/fonts/NimbusSanL-Bol.otf') format('opentype');
	/* Add more src declarations for different font weights or styles if needed */
}
/* Caveat font face */
@font-face {
	font-family: 'Caveat Regular';
	src: url('/fonts/Caveat/Caveat-Regular.ttf') format('truetype');
	/* Add more src declarations for different font weights or styles if needed */
}

@font-face {
	font-family: 'Caveat Bold';
	src: url('/fonts/Caveat/Caveat-Bold.ttf') format('truetype');
	/* Add more src declarations for different font weights or styles if needed */
}
@font-face {
	font-family: 'Caveat Medium';
	src: url('/fonts/Caveat/Caveat-Medium.ttf') format('truetype');
	/* Add more src declarations for different font weights or styles if needed */
}

@font-face {
	font-family: 'Sansita Swashed Regular';
	src: url('/fonts/SansitaSwashed-Regular.ttf') format('truetype');
	/* Add more src declarations for different font weights or styles if needed */
}
@font-face {
	font-family: 'Sansita Swashed Medium';
	src: url('/fonts/SansitaSwashed-Medium.ttf') format('truetype');
	/* Add more src declarations for different font weights or styles if needed */
}
@font-face {
	font-family: 'Libre Baskerville Bold';
	src: url('/fonts/LibreBaskerville-Bold.ttf') format('truetype');
	/* Add more src declarations for different font weights or styles if needed */
}
@font-face {
	font-family: 'Libre Baskerville Regular';
	src: url('/fonts/LibreBaskerville-Regular.ttf') format('truetype');
	/* Add more src declarations for different font weights or styles if needed */
}
/* Assistant font family */
@font-face {
	font-family: 'Assistant Regular';
	src: url('/fonts/Assistant-Regular.ttf') format('truetype');
	/* Add more src declarations for different font weights or styles if needed */
}

@font-face {
	font-family: 'Assistant Medium';
	src: url('/fonts/Assistant-Medium.ttf') format('truetype');
	/* Add more src declarations for different font weights or styles if needed */
}
/* Playfair Display font family */
@font-face {
	font-family: 'Playfair Display Medium';
	src: url('/fonts/PlayfairDisplay-Medium.ttf') format('truetype');
	/* Add more src declarations for different font weights or styles if needed */
}

@font-face {
	font-family: 'Playfair Display Bold';
	src: url('/fonts/PlayfairDisplay-Bold.ttf') format('truetype');
	/* Add more src declarations for different font weights or styles if needed */
}
/* Brygada 1918 font family */
@font-face {
	font-family: 'Brygada 1918 SemiBold';
	src: url('/fonts/Brygada1918-SemiBold.ttf') format('truetype');
	/* Add more src declarations for different font weights or styles if needed */
}
/* Yrsa */
@font-face {
	font-family: 'Yrsa Medium';
	src: url('/fonts/Yrsa-Medium.ttf') format('truetype');
	/* Add more src declarations for different font weights or styles if needed */
}
