@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';
@import 'additional-styles/font.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

@font-face {
    font-family: 'Creato Display Regular';
    src: url('/fonts/CreatoDisplay-Regular.otf') format('opentype');
    /* Add more src declarations for different font weights or styles if needed */
}
@font-face {
    font-family: 'Creato Display Medium';
    src: url('/fonts/CreatoDisplay-Medium.otf') format('opentype');
    /* Add more src declarations for different font weights or styles if needed */
}

@font-face {
    font-family: 'Creato Display Bold';
    src: url('/fonts/CreatoDisplay-Bold.otf') format('opentype');
    /* Add more src declarations for different font weights or styles if needed */
}

@font-face {
    font-family: 'Nimbus Sans Regular';
    src: url('/fonts/NimbusSanL-Reg.otf') format('opentype');
    /* Add more src declarations for different font weights or styles if needed */
}

@font-face {
    font-family: 'Nimbus Sans Bold';
    src: url('/fonts/NimbusSanL-Bol.otf') format('opentype');
    /* Add more src declarations for different font weights or styles if needed */
}
